<html>
<head>
	<title>namaco Demo</title>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static_url('base.css') }}" />

</head>
<body>

<div id="app" class="container">
	<div class="content-area">
		<div class="columns">
			<div class="column is-two-thirds">
				<div class="content">
					<div class="field">
						<label class="label">Sentence</label>
						<div class="control">
							<form action="/" method="post">
								<textarea id="sentence" name="sentence" class="textarea" placeholder="Textarea"></textarea>
								<!--<input type="submit" id="submit" style="display:none"/>-->
							</form>
						</div>
					</div>
					<a id="submit" class="button is-primary">Analyze</a>
				</div>

				<label class="label">Named Entities</label>
				<div class="example">
					<div class="content">
						<p>
							<small class="axlabel organization">Organization</small>
							<small class="axlabel location">Location</small>
							<small class="axlabel person">Person</small>
							<small class="axlabel time">Time</small>
							<small class="axlabel date">Date</small>
							<small class="axlabel artifact">Artifact</small>
							<small class="axlabel money">Money</small>
							<small class="axlabel event">Event</small>
						</p>
					</div>

					<article class="message">
						<div class="message-body">
							<small class="axlabel date">2017年8月10日</small>、<small class="axlabel facility">阪神甲子園球場</small>
							で<small class="axlabel event">第99回全国高等学校野球選手権大会</small>の三日目・四試合が行われた。
							第一試合は<small class="axlabel organization">木更津総合</small>（<small class="axlabel location">千葉</small>）
							と<small class="axlabel organization">日本航空石川</small>（<small class="axlabel location">石川</small>）が対戦。
							{{ sent }}
						</div>
					</article>

				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ static_url('script.js') }}" /></script>
</body>
</html>
